		<!DOCTYPE html>
		<html>
		<head>
		  <title>Ecommerce</title>
		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
		</head>
		<body>
		<header>
			<h1 align="center">ApniDukan</h1>
		</header>
		<% if notice %>
		  <p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>

		 <header>
			<%if user_signed_in?%>
				<%= link_to "Log Out", destroy_user_session_url, method: :delete %>
			<%end%>
			<%if seller_signed_in?%>
				<%= link_to "Log Out",destroy_seller_session_url, method: :delete %>
				<%= link_to "Add Products", product_sell_product_get_url %>
			<%end%>
		</header>
 
		<%= yield %>



		</body>
		</html>
